###################################################################
# Título:      Requerimientos Python de Imágen 'celery'
# Ubicación:   FASTAAPS/AAPS-DATA/SYNC/requirements.txt
# Descripción: 
#   Dependencias de Python de la imágen base 'celery' de Docker.
###################################################################

# Celery: Agente de Mensajería
celery==4.3.0
flower==0.9.3

# PsycoPG2: Driver PostgreSQL
psycopg2==2.8.4

# Pandas: Manejo de Datos
pandas==0.25.3

# Requests: Cliente Web
requests==2.22.0

# PyMongo: Driver para MongoDB
pymongo==3.9.0

# Driver para Redis
redis==3.3.11